{:database-url "jdbc:mysql:///tfa_db?user=<user>&password=<password>"
 :redis-uri    "redis://127.0.0.1"
 :emails       {:smtp_properties "smtp.properties"
                :from_email      "noreply@tfa.example"
                :from_name       "2FA Example Mailer"}}