{:database-url "jdbc:mysql://mysql-server/tfa_db?user=tfa_user&password=secret"
 :redis-uri    "redis://redis-server"
 :emails       {:smtp_properties "smtp.properties"
                :from_email      "noreply@tfa.example"
                :from_name       "2FA Example Mailer"}}